<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="WebUrl" value="http://catalogs.ftc.ru/cftbank/" />
        <add key="Assembly" value="FTC.SharePoint.CatalogsDesign, Version=1.5.0.0, Culture=neutral, PublicKeyToken=655614dd2aaa865a" />
        <add key="VersionTo" value="-1" /> <!-- -1 last version -->
        <add key="debug" value="1" /> 
    </appSettings>   
</configuration>